#background{
    /* background-image: url("./backgroundImage.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(227, 232, 233, 0.842);
    padding-top: 2%;
    padding-bottom: 2%;
    /* opacity: 0.75; */
    /* background-color: blue; */
}